{% extends "dmlocal/base.html" %}
{% load tethys_gizmos %}

{% load staticfiles %}

{% block header_buttons %}
  <!-- <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div> -->
{% endblock %}

{% block app_navigation_items %}
  <div class="sidebar col-lg-12">
    <div class="form-container col-sm-12" style="height:65%">
      <form class="form-horizontal">
        <fieldset>
          <h4>Select District</h4>
          <div class="form-group">
            <div class="col-sm-12">
                <input type='radio' name='level' class='col-sm-1' id="bradiol0">
                <div class='col-sm-11' id="selectl0" value="Nepal">
                  Nepal
                </div>
            </div>
            <div class="col-sm-12">
                <input type='radio' name ='level' class='col-sm-1' style='margin-top:10px' id="bradiol1">
                <div class='col-sm-11'>
                  <select id="selectl1" name="selectl1" class="form-control" style="margin-top:5px" disabled=true>
                  </select>
                </div>
            </div>
            <div class="col-sm-12">
                <input type='radio' name='level' class='col-sm-1' style='margin-top:10px' id="bradiol2" checked>
                <div class='col-sm-11'>
                  <select id="selectl2" name="selectl2" class="form-control" style="margin-top:5px">
                  </select>
                </div>
            </div>
          </div>
          <h4>Select Periodicity</h4>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="radio">
                <label><input type="radio" name="periodicity" value="dd" checked>Dekad (10 Days)</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="periodicity" value="mm">1 Month</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="periodicity" value="3m">3 Months</label>
              </div>
            </div>
          </div>
          <h4 target="" onclick="app.triggerCollapse(this)" style="cursor:pointer">Select 4 Indices</h4>
          <div class="form-group">
            <div class="col-sm-12">
              <select id="selectindex1" class="bound-dropdown form-control" >
              </select>
              <select id="selectindex2" class="bound-dropdown form-control" >
              </select>
              <select id="selectindex3" class="bound-dropdown form-control" >
              </select>
              <select id="selectindex4" class="bound-dropdown form-control" >
              </select>
              <!-- <select id="selectindices" class="form-control" multiple="multiple">
                <option value="temp">Temperature (min, max)</option>
                <option value="rain">Rainfall</option>
                <option value="soilMoist">Soil Moisture</option>
                <option value="evap">Total Evapotranspiration</option>
                <option value="NDVI">NDVI</option>
                <option value="ndviAnomaly">NDVI Anomaly</option>
                <option value="spi-1To1">Area Under SPI (-1 to 1)</option>
              </select> -->
            </div>
          </div>
          <button type="button" class="btn btn-success" onclick="app.computeClicked(event)">Compute Indices</button>
        </fieldset>
      </form>
    </div>
    <div class="form-container col-sm-12" style="height:65%;text-align:justify">
      <h3>About</h3>
      <span >The International Centre for Integrated Mountain Development (ICIMOD)
        under its SERVIR Hindu Kush Himalaya (SERVIR-HKH) and Climate Services for
        Resilient Development (CSRD) initiatives is collaborating with John Hopkins
        University to establish an agricultural drought monitoring and early warning
        system for the Hindukush Himalayan Region. The system incorporates climatic
        and land surface models with assimilation of suitable earth observation
        datasets to produce drought monitoring and warning information.
        <br><br>The infographics presented in the information system accounts
        for the crop distributions crop calendars. </span>
    </div>
  </div>
{% endblock %}

{% block app_content %}
  <div class="navilinkbar">
    <div class="navilink active"><a>Current</a></div>
    <div class="navilink"><a href="/apps/dmlocal/historical">Historical</a></div>
    <div class="navilink"><a>Outlook</a></div>
  </div>
  <div class="maincomp col-lg-12" style="padding-left:4px;">
    <div class="col-sm-8" style="height:49%;padding:4px;">
      <div class = "col-sm-12" style="background:red; height:100%;position:relative; padding:0; margin:0; overflow:hidden;">
        <div class="card map-container" id="map-container"></div>
        <div class="card map-container" id="top-map-container"></div>
      </div>
    </div>
    <div class="col-sm-4" style="height:49%;padding:4px;margin:0;">
      <div class = "card col-sm-12" id="chart0" style="height:100%;padding:5px;"></div>
    </div>
    <div class="col-sm-4" style="height:49%;padding:4px;margin:0;">
      <div class = "card col-sm-12" id="chart1" style="height:100%;padding:5px;"></div>
    </div>
    <div class="col-sm-4" style="height:49%;padding:4px;margin:0;">
      <div class = "card col-sm-12" id="chart2" style="height:100%;padding:5px;"></div>
    </div>
    <div class="col-sm-4" style="height:49%;padding:4px;margin:0;">
      <div class = "card col-sm-12" id="chart3" style="height:100%;padding:5px;"></div>
    </div>
  </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'dmlocal/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css"/>
  <link rel="stylesheet" href="{% static 'dmlocal/css/leaflet.css' %}"/>
  <link rel="stylesheet" href="{% static 'dmlocal/css/leaflet-slider.css' %}"/>
  <link rel="stylesheet" href="{% static 'dmlocal/css/main0.css' %}"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'dmlocal/css/MonthPicker.css' %}"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'dmlocal/js/leaflet.js' %}"></script>
  <script src="{% static 'dmlocal/js/leaflet-slider.js' %}"></script>
  <script src="{% static 'dmlocal/js/jquery-2.2.0.js' %}"></script>
  <script src="{% static 'dmlocal/js/jquery-ui.js' %}"></script>
  <script src="{% static 'dmlocal/js/bootstrap.min.js' %}"></script>
  <!-- <script src="{% static 'dmlocal/js/highcharts.js' %}"></script> -->
  <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript" src="http://code.highcharts.com/highcharts-more.js"></script>
  <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript" src="http://code.highcharts.com/modules/export-data.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <script src="{% static 'dmlocal/js/MonthPicker.js' %}"></script>
  <script src="{% static 'dmlocal/js/CropCalendar.js' %}"></script>
  <script src="{% static 'dmlocal/js/VisParams.js' %}"></script>

  <script src="{% static 'dmlocal/js/MapFunctions.js' %}"></script>
  <script src="{% static 'dmlocal/js/main_minimum.js' %}"></script>
{% endblock %}

{% block app_actions %}
{% endblock %}
