{% extends "dmlocal/base.html" %}
{% load tethys_gizmos %}

{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <!-- <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a> -->
  </div>
{% endblock %}

{% block app_navigation_items %}
  <div class="sidebar col-lg-12">
    <div class="form-container col-sm-12" style="height:65%">
      <form class="form-horizontal">
        <fieldset>
          <h4>Select District</h4>
          <div class="form-group">
            <div class="col-sm-12">
                <!-- <select id="selectl0" name="selectl0" class="form-control" >
                  <option value="Nepal">Nepal</option>
                  <option value="Afghanistan">Afghanistan</option>
                </select> -->
                <select id="selectl1" name="selectl1" class="form-control" style="margin-top:5px">
                </select>
            </div>
          </div>
          <h4>Select Sowing Year</h4>
          <div class="form-group">
            <div class="col-sm-12">
              <select id="selectyear" name="selectyear" class="form-control">
                <option value="2018">2018</option>
                <option value="2017" selected="selected">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
              </select>
            </div>
          </div>
          <h4>Select Date Range</h4>
          <div class="form-group">
            <div class="col-sm-6">
              <input id="startDate" name="startDate" class="datepicker form-control" placeholder="Start Date">
            </div>
            <div class="col-sm-6">
              <input id="endDate" name="endDate" class="datepicker form-control" placeholder="End Date">
            </div>
          </div>
          <div class="form-group hidden">
            <div class="col-sm-12">
              <select id="selectcrop" name="selectcrop" class="form-control">
              </select>
            </div>
          </div>
          <div id="crop-calendar" class="hidden">
              <div class="crop-all-year hidden"> Showing yearly values. Please select a crop to view respective information </div>
              <div class="sowing crop-season">
                <span class='start'>s</span><span class='bar-container'><span class="bar">&nbsp;</span></span><span class='end'>e</span>
              </div>
          </div>
          <h4>Select Periodicity</h4>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="radio">
                <label><input type="radio" name="periodicity" value="dd" checked>Dekad (10 Days)</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="periodicity" value="mm">1 Month</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="periodicity" value="3m">3 Months</label>
              </div>
            </div>
          </div>
          <h4 target="" onclick="app.triggerCollapse(this)" style="cursor:pointer">Select 2 Indices</h4>
          <div class="form-group">
            <div class="col-sm-12">
              <select id="selectindex1" class="bound-dropdown form-control" >
              </select>
              <select id="selectindex2" class="bound-dropdown form-control" >
              </select>
              <select id="selectindex3" class="bound-dropdown form-control" >
              </select>
              <select id="selectindex4" class="bound-dropdown form-control" >
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-success" onclick="app.computeClicked(event)">Compute Indices</button>
        </fieldset>
      </form>
    </div>
    <div class="form-container col-sm-12" style="height:65%;text-align:justify">
      <h3>About</h3>
      <span >Assessment and monitoring of drought related indices are essential for
        the sustainable management of agricultural resources. This is essential
        in the Hindu Kush-Himalayan region as a lot of people in the region are
        dependent on agriculture as primary source of their income.
        <bR><br>The application provides easy access to various indices related
        to drought such as precepitation, temperature, soil moisture, evapotranspiration
        and spi. It provides user friendly tools for generating statistics to understand
        the change processes and to support the informed decisions</span>
    </div>
  </div>
{% endblock %}

{% block app_content %}
  <div class="navilinkbar">
    <div class="navilink"><a href="/apps/dmlocal/">Current</a></div>
    <div class="navilink active"><a>Historical</a></div>
    <div class="navilink"><a>Outlook</a></div>
  </div>
  <div class="maincomp col-lg-12" style="padding-left:4px;">
    <div class="col-sm-8" style="height:49%;padding:4px 0px 0px 4px">
      <div class = "card col-sm-12" style="background:red; height:100%;position:relative; padding:0; margin:0; overflow:hidden;">
        <div class="card map-container" id="map-container"></div>
        <div class="card map-container" id="top-map-container"></div>
      </div>
    </div>
    <div class="col-sm-4" style="height:49%;padding:4px;margin:0;">
      <div class = "card col-sm-12" id="chart0" style="height:100%;padding:5px;"></div>
    </div>
    <div class="col-sm-4" style="height:49%;padding:4px;margin:0;">
      <div class = "card col-sm-12" id="chart1" style="height:100%;padding:5px;"></div>
    </div>
    <div class="col-sm-4" style="height:49%;padding:4px;margin:0;">
      <div class = "card col-sm-12" id="chart2" style="height:100%;padding:5px;"></div>
    </div>
    <div class="col-sm-4" style="height:49%;padding:4px;margin:0;">
      <div class = "card col-sm-12" id="chart3" style="height:100%;padding:5px;"></div>
    </div>
  </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'dmlocal/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css"/>
  <link rel="stylesheet" href="{% static 'dmlocal/css/leaflet.css' %}"/>
  <link rel="stylesheet" href="{% static 'dmlocal/css/leaflet-slider.css' %}"/>
  <link rel="stylesheet" href="{% static 'dmlocal/css/main0.css' %}"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'dmlocal/css/MonthPicker.css' %}"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'dmlocal/js/leaflet.js' %}"></script>
  <script src="{% static 'dmlocal/js/leaflet-slider.js' %}"></script>
  <script src="{% static 'dmlocal/js/jquery-2.2.0.js' %}"></script>
  <script src="{% static 'dmlocal/js/jquery-ui.js' %}"></script>
  <script src="{% static 'dmlocal/js/bootstrap.min.js' %}"></script>
  <!-- <script src="{% static 'dmlocal/js/highcharts.js' %}"></script> -->
  <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <script src="{% static 'dmlocal/js/MonthPicker.js' %}"></script>
  <script src="{% static 'dmlocal/js/CropCalendar.js' %}"></script>
  <script src="{% static 'dmlocal/js/VisParams.js' %}"></script>

  <script src="{% static 'dmlocal/js/MapFunctions.js' %}"></script>
  <script src="{% static 'dmlocal/js/main.js' %}"></script>
{% endblock %}

{% block app_actions %}
{% endblock %}
